<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Dear {FirstName} {LastName},</p>
    <p>Your payroll details for {Month} {Year}:</p>
    <ul>
      <li><b>Gross Pay:</b> ${GrossPay}</li>
      <li><b>Tax Deduction:</b> ${TaxDeduction}</li>
      <li><b>Insurance Deduction:</b> ${Insurance}</li>
      <li><b>Retirement Contribution:</b> ${Retirement}</li>
      <li><b>Net Pay:</b> ${NetPay}</li>
    </ul>
    <p>Thank you!</p>
  </body>
</html>
